<main class="bg-black text-white flex justify-center flex-col items-center min-h-screen">
    <p class="mb-2 text-[14px] text-gray-500">Password Generator</p>
    
    <div class="flex bg-[#252331] relative w-[250px] h-[40px] justify-center items-center">
        <div class="left-4 absolute">{{text}}</div>
        <img src="assets/copy-green.png" alt="#" class="w-[15px] h-[15px] cursor-pointer right-4 absolute">
    </div>

    <div class="bg-[#252331] mt-3 w-[250px] p-3">
        <div class="">
            <div class="flex justify-between items-center">
                <p class="text-[12px]">Character Length</p>
                <h2 class="text-[22px] text-green-300">{{ barraTamanho }}</h2>
            </div>

            <input 
                type="range" 
                id="range-length" 
                min="1" 
                value="10"
                (change)="valueChanged($event); dificuldadeMode()"
                max="20" 
                class="w-full mt-4 accent-green-300"
            >        
        </div>

        <div>
            <div class="flex mb-[2px]">
                <label class="relative flex items-center p-0 rounded-full cursor-pointer">
                    <input 
                        type="checkbox"
                        class="before:content[''] peer relative h-4 w-4 cursor-pointer appearance-none rounded-[2px] border border-green-300 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-6 before:w-6 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-green-300 checked:bg-green-300 checked:before:bg-green-300 hover:before:opacity-10"
                        [checked]="true"
                        (change)="checkOnChange1($event); dificuldadeMode()"
                        (click)="includeUppercase($event)"
                    />

                    <span
                      class="absolute text-black transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                        stroke="currentColor" stroke-width="1">
                        <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>
                </label>

                <p class="ml-3 text-[13px]">Include Uppercase Letters</p>
            </div>
            <div class="flex mb-[2px]">
                <label class="relative flex items-center p-0 rounded-full cursor-pointer">
                    <input 
                        type="checkbox"
                        class="before:content[''] peer relative h-4 w-4 cursor-pointer appearance-none rounded-[2px] border border-green-300 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-6 before:w-6 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-green-300 checked:bg-green-300 checked:before:bg-green-300 hover:before:opacity-10"
                        [checked]="true"
                        (change)="checkOnChange2($event); dificuldadeMode()"
                        (click)="includeLowercase($event)"
                    />

                    <span
                      class="absolute text-black transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                        stroke="currentColor" stroke-width="1">
                        <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>
                </label>

                <p class="ml-3 text-[13px]">Include Lowercase Letters</p>
            </div>
            <div class="flex mb-[2px]">
                <label class="relative flex items-center p-0 rounded-full cursor-pointer">
                    <input 
                        type="checkbox"
                        id="btn-check"
                        (change)="checkOnChange3($event); dificuldadeMode()"
                        class="before:content[''] peer relative h-4 w-4 cursor-pointer appearance-none rounded-[2px] border border-green-300 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-6 before:w-6 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-green-300 checked:bg-green-300 checked:before:bg-green-300 hover:before:opacity-10"
                        [checked]="true"
                        (click)="includeNumbers($event)"
                    />

                    <span
                      class="absolute text-black transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                        stroke="currentColor" stroke-width="1">
                        <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>
                </label>

                <p class="ml-3 text-[13px]">Include Numbers</p>
            </div>

            <div class="flex">
                <label class="relative flex items-center rounded-full cursor-pointer">
                    <input 
                        type="checkbox"
                        class="before:content[''] peer relative h-4 w-4 cursor-pointer appearance-none rounded-[2px] border border-green-300 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-6 before:w-6 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-green-300 checked:bg-green-300 checked:before:bg-green-300 hover:before:opacity-10"
                        [checked]="true"
                        (change)="checkOnChange4($event); dificuldadeMode()"
                        (click)="includeSymbols($event)"
                    />

                    <span
                      class="absolute text-black transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor"
                        stroke="currentColor" stroke-width="1">
                        <path fill-rule="evenodd"
                          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </span>
                </label>

                <p class="ml-3 text-[13px]">Include Symbol</p>
            </div>
        </div>

        <div class="bg-[#141414] flex items-center justify-between mt-4 p-4">
            <p class="text-[12px] text-gray-400">STRENGTH</p>

            <div class="flex items-center">
                <h3 class="text-[14px]">{{ dificuldadeText.value }}</h3>
                <div class="w-1 h-4 border-white border-[1px] ml-2" [ngClass]="extraClass(1)"></div>
                <div class="w-1 h-4 border-white border-[1px] ml-2" [ngClass]="extraClass(2)"></div>
                <div class="w-1 h-4 border-white border-[1px] ml-2" [ngClass]="extraClass(3)"></div>
                <div class="w-1 h-4 border-white border-[1px] ml-2" [ngClass]="extraClass(4)"></div>
            </div>
        </div>

        <button 
            id="generate" 
            (click)="generate_password(textCpy)" 
            class="bg-green-300 text-black flex justify-center items-center w-full h-[40px] mt-4 text-[12px] font-bold hover:text-green-300 hover:outline hover:outline-[1px] hover:bg-transparent hover:outline-green-300">GENERATE 
            <img src="assets/right-arrow.png" 
                alt="#" 
                class="w-2 h-2 ml-4">
        </button>
    </div>
</main>